.raz {
  all: unset;
  -moz-appearance: textfield;
  width: 3em;
  text-align: center;
  vertical-align:10px;
  color: #33ffff;
}
.raz::-webkit-inner-spin-button { 
  display: none;
}
.qnum {
  color: red;
  font-weight: 900;
  content: '';
  display: inline-block;
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #40a1f4;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background: #097ddf;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  vertical-align:10px;

}

/* стили при наведении курсора на checkbox */
.qnum:hover {
  border-color: #6097c6;
}
/* стили для чекбокса, находящегося в фокусе */
.qnum:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  background-color: #b3d7ff;
  border-color: #b3d7ff;

}

